---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { fromIsoToLocaleDate, fromIsoToDateForSlug } from "../../common/date-utils";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: fromIsoToDateForSlug(post.data.pubDate) + '-' + post.slug },
    props: { entry: post },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <p class="date">{fromIsoToLocaleDate(entry.data.pubDate)}</p>
  <h2>{entry.data.title}</h2>
  <div class="content">
    <Content />
    <div class="contact">
      Feel free to contact me if you have any feedback or thoughts!<br>
      contact@english-helloworld.net
    </div>
  </div>
</Layout>

<style>
  p.date {
    margin: 0;
    font-style: italic;
  }

  div.content{
    line-height: 1.2;
  }

  h2 {
    margin-top: 0;
  }

  .contact {
    margin-top: 40px;
    padding: 20px;
    background-color: var(--color-callout);
    border-radius: 5px;
    text-align: center;
  }
</style>
