---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <div id="site_title"><a href="/">English Hello World</a></div>
      <span class="description">English essays to improve my English</span>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <div class="link">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
        </ul>
      </div>
      <div class="copyright">© 2024 English Hello World</div>
    </footer>
  </body>
</html>
<style>
  :root {
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

    --color-text: hsl(0, 0%, 19%);
    --color-bg: hsl(67, 22%, 85%);
    --color-callout: hsl(67, 22%, 75%);
  }

  html {
    font-family: "Times New Roman", serif;
    font-size: var(--font-size-base);
    color: var(--color-text);
    background-color: var(--color-bg);
  }

  body {
    margin: auto;
    padding: 1em;
    max-width: 80ch;
  }

  header div#site_title {
    font-style: italic;
    font-size: var(--font-size-lg);
    font-weight: normal;
    margin-bottom: 5px;
  }

  header div#site_title a {
    color: var(--color-text);
    text-decoration: none;
  }

  header .description {
    font-size: 1em;
  }

  main {
    margin-top: 50px;
  }

  footer {
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
  }

  div.link ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }

  div.link li {
    margin: 0 5px;
  }

  div.copyright {
    margin-top: 30px;
  }

  :global(a) {
    color: var(--color-text);
  }

  :global(h1) {
    font-size: var(--font-size-lg);
    font-weight: normal;
  }

  :global(code) {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
